.container_grid{
    margin: auto
}

.container_item{
    width: 345px;
    height: 520px;
   
}

a{
    text-decoration: none;
    color: black
}

.products_sort{
    
    padding: 10px;
    margin-left: 90px
    
}